<!DOCTYPE html>
<html lang="en">
<head th:replace="home1::head(title ='New Product')">
</head>
<body>
<div th:replace="home1::body_header"></div>

<div class="admin_control">
    <div th:fragment="menu" class = "inline_block menu">
        <div class="tit">
            <h5 style="margin-left:40px;">
                <i class="fas fa-user-shield"></i>
                Admin DashBoard</h5>
        </div>
        <hr>
        <div style="margin-left:40px;">
            <a th:href="@{/admin/products}">

                <h6 class="submenu">
                    <i class="fab fa-product-hunt"></i>
                    Product Management</h6> </a>
            <a th:href="@{/admin/orders}">

                <h6 class="submenu">
                    <i class="fas fa-file-invoice"></i>
                    Order Management</h6> </a>
            <a th:href="@{/admin/users}">

                <h6 class="submenu">
                    <i class="fas fa-users"></i>
                    User Management</h6> </a>

            <a th:href="@{/admin/categories}">

                <h6 class="submenu">
                    <i class="fas fa-table"></i>
                    Category Management</h6> </a>

            <a th:href="@{/admin/feedbacks}">

                <h6 class="submenu">
                    <i class="far fa-comment-alt"></i>
                    Feedback Management</h6> </a>

        </div>
    </div>
    <!-- end menu -->

    <div class = 'inline_block display'>
        <div class= "tit">
            <h5 th:if="${product.id == null}" style="text-align: center;">New Product</h5>
            <h5 th:if="${product.id != null}" style="text-align: center;">Update Product</h5>

        </div>
        <hr>
        <div>
            <form id="formId" action="#"  th:action="@{/saveNewProduct}" th:object="${product}" method="post" enctype="multipart/form-data">

                <h5>Basic Information</h5>
                <input id="checkId" type="hidden" th:field="${product.id}" th:value="${product.id}" />
                <p>
                    <label for="productName">Product Name: </label>
                    <input type="text" th:field="${product.productName}" id="productName">
                    <span th:if="${#fields.hasErrors('productName')}" class="alert alert-danger" th:errors="${product.productName}" />
                </p>
                <p>
                    <label for="description">Short Description: </label>
                    <input id="description" type="text" th:field="${product.description}">
                    <span th:if="${#fields.hasErrors('description')}" class="alert alert-danger" th:errors="${product.description}" />
                </p>
                <p>
                    <label for="descriptionDetails">Detailed Description: </label>
                    <br>
                    <textarea rows="4" cols="50" id="descriptionDetails" type="text" th:field="${product.productDetails.productInformation}">
                    </textarea>
                </p>
                <p>
                    <label for="price">Product Price: </label>
                    <input id="price" type="text" th:field="${product.price}">
                <span th:if="${#fields.hasErrors('price')}" class="alert alert-danger" th:errors="${product.price}" />
                </p>
                <p>
                    <label for="image">Prime Image:</label>
                    <input id="image" type="file" th:field="${product.file}">

                    <img style="width:300px;height:400px" th:if="${product.id != null && product.getImage() != null}" th:src="${product.getImage()}"/>
                    <img style="width:300px;height:400px" th:if="${listImg != null}" th:src="${listImg.get(0)}"/>
                    <span th:if="${#fields.hasErrors('file') }" class="alert alert-danger" th:errors="${product.file}"  />
                </p>
                <p>
                    <label for="author">Author:</label>
                    <input id="author" type="text" th:field="${product.author}">
                <span th:if="${#fields.hasErrors('author')}" class="alert alert-danger"  th:errors="${product.author}" />
                </p>
                <p>
                    <label for="category">Category:</label>
                    <select name="cat" id="category" >
                        <option th:each="cat: ${cats}" th:value="${cat.name}" th:text="${cat.name}"></option>

                    </select>
                </p>
                <input th:if="${product.id != -1}" type="hidden" name="isUpdate" th:value="true" />
                <h5>Detailed Information</h5>
                <h6>Selling Options
                    <button class="btn btn-danger">
                        <i class="fas fa-plus-circle"></i>
<!--                        <input type="text" th:field="*{productDetails.optionProductDetails}">-->

                    </button>
                    <p th:if="${#fields.hasErrors('productDetails.optionProductDetails[0].priceOption')
                            ||#fields.hasErrors('productDetails.optionProductDetails[1].priceOption')
                            || #fields.hasErrors('productDetails.optionProductDetails[2].priceOption')}"
                            style="display: inline-block"
                            class="alert alert-danger" >Prices are invalid (Min is $1 and Max is $10.000)</p>
                    <div th:each="opt : ${product.productDetails.optionProductDetails}" class="ingredient-row">

                        Option Name:
                        <input type="text"
                               th:field="${product.productDetails.optionProductDetails[__${optStat.index}__].name}"/>

                        Option Price:
                        <input  type="text"
                               th:field="${product.productDetails.optionProductDetails[__${optStat.index}__].priceOption}"/>

<!--                        <p class="alert alert-danger"-->
<!--                           th:if="${#fields.hasErrors(product.productDetails.optionProductDetails[__${optStat.index}__].priceOption)}"-->
<!--                           th:errors="Price option is wrong"></p>-->
                    </div>

                </h6>
                <h6>Small Images</h6>
                <span th:if="${#fields.hasErrors('productDetails') }" class="alert alert-danger" th:errors="${product.productDetails}"  />
                <div th:each="img : ${product.productDetails.smallImagesProducts}" class="ingredient-row">
                    Small Image:
                    <input type="file"
                           th:field="${product.productDetails.smallImagesProducts[__${imgStat.index}__].multipartFile}"/>
                    <img style="width:90px;height:120px" th:if="${product.id != null && img.image !=null}" th:src="${img.image}"/>
                    <img style="width:100px;height:120px" th:if="${listImg != null}" th:src="${listImg.get(imgStat.index+1)}"/>


                </div>

                <input th:if="${product.id == -1}" type="submit" value="Save New Product" class="btn btn-danger" />
                <input th:if="${product.id != -1}"  type="submit" value="Update Product" class="btn btn-danger" />

                <a href="http://localhost:8080/admin/products"  type="button"  class="btn btn-primary">Cancel</a>

            </form>

            <div style="width: 100rem; margin-left: -36%; margin-top:20px">
                <div th:replace="home1::body_footer"></div>
            </div>

        </div>

    </div>


</div>


</body>
</html>